.container{
  max-width: 60rem;
}
#d{
  width: 72%;
  height: 75%;
  margin-top: 5%;
  margin-left: 40px;
  margin-bottom: 10%;
  background-color: green;
  border-radius: 50px 50px 50px 50px;
  text-align: center;
  padding: 33px;
  transition: .5 ease-in-out;
    
}

#d:hover {
  transform: scale(1.06);
  box-shadow: 0 4px 8px 0;
}

  .create{
    text-decoration: none;
  }
#image{
    margin-top: 10%;
    width: 60%;
    margin-left: 0px;
    height: auto;
    transition: .5 ease-in-out;
}
#image:hover {
  transform: scale(1.06);
  box-shadow: 0 4px 8px 0;
}

