


    <h3 class="statement">Account Statement</h3>

    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success">Left</button>
        <button type="button" class="btn btn-success">Middle</button>
        <button type="button" class="btn btn-success">Right</button>
      </div>
    
<div class="text-center">
<table class="table" style="width:40%">
    <td>#</td>
    <td>Type</td>
    <td>Data</td>
    <td>Amount</td>
</table>
</div>
<div id="button">
<button type="button" class="btn btn-success btn-lg">Export As  <i class="fa-solid fa-file-pdf"></i> </button>

</div>