<p class="mt-2">{{date | date : 'medium'}}</p>

<h3 class="statement container col-6">Account Statement</h3>

<div class="btn-group" role="group" aria-label="Basic example">
    <button (click)="searchKeyChange('')" type="button" class="btn btn-success">All</button>
    <button (click)="searchKeyChange('DEBIT')" type="button" class="btn btn-success">Debit</button>
    <button (click)="searchKeyChange('CREDIT')" type="button" class="btn btn-success">Credit</button>
</div>

<div class="text-center">
    <table class="table table-success" style="width:40% ">
        <thead>
            <tr>
                <th>#</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Account Holder</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody *ngFor="let i of transactions |datapipe: searchKey : 'type'; let j = index ">
            <tr>
                <td>{{j+1}}</td>
                <td>{{i.type}}</td>
                <td>{{i.amount}}</td>
                <td>{{i.user}}</td>
                <td>{{i.datetime}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <button (click)="convertpdf()" id="button1" type="button" class="btn btn-success btn-lg">Export As <i class="fa-solid fa-file-pdf"></i>
    </button>
    <button (click)="backHome()" id="button2" type="button" class="btn btn-success btn-lg">Back Home <i
            class="fa-sharp fa-solid fa-building-columns fa-beat"></i> </button>
</div>