<div class="">

    <div class="text-center row" >
    
        <div class="col-6 mt-5">
    
            <form id="d" class="cointainer-fluid text-center border">
        <h2 style="color:aliceblue">Sign up</h2>
        
        <input formControlName="acno" id="acnum" type="text" class="form-control mt-4" placeholder="Enter Account Number ">

        <input formControlName="usrnm" id="user" type="text" class="form-control mt-4" placeholder="Enter Username">
    
         <input formControlName="pswd" id="passwrd" type="password" class="form-control mt-4" placeholder="Enter password">

         <input formControlName="cpwrd" id="cnfrmpwrd" type="password" class="form-control mt-4" placeholder="Confirm password">
    
        <button  type="submit" class="btn btn-warning mt-4">Signup</button>
    
    <p class="mt-3">Dont have account? <a href="" class="create">Create Account </a></p>
    </form>
    
        </div>
        <div class="col-6">
            <img  id="image" 
             src="https://i.postimg.cc/156mzSKX/bank2.png">
            </div>
    <div  >
    </div>
    </div>