<div class="">

    <div class="text-center row" >
    
        <div class="col-6 mt-5">
    
            <form [formGroup]="signUpModelForm" id="d" class="cointainer-fluid text-center border">
        <h2 style="color:aliceblue">Sign up</h2>
        
        <input formControlName="acno" id="a1" name="acno" type="text" class="form-control mt-4" placeholder="Enter Account Number ">
<div *ngIf="signUpModelForm.get('acno')?.errors&&signUpModelForm.get('acno')?.touched">
    <p class="text-danger mt-2">Accept numbers only</p>
</div>
        <input formControlName="uname" id="a2" name="uname" type="text" class="form-control mt-4" placeholder="Enter Username">
    
        <div *ngIf="signUpModelForm.get('uname')?.errors&&signUpModelForm.get('uname')?.touched">
            <p class="text-danger mt-2">Accept letters only</p>
        </div>

         <input formControlName="pswrd" id="p1" name="pswrd" type="password" class="form-control mt-4" placeholder="Enter password">

         <div *ngIf="signUpModelForm.get('pswrd')?.errors&&signUpModelForm.get('pswrd')?.touched">
            <p class="text-danger mt-2">Accept letter&numbers only</p>
        </div>

         <input formControlName="cpswrd" id="p2" name="cpswrd" type="password" class="form-control mt-4" placeholder="Confirm password">
    
         <div *ngIf="pswrdMatch" class="text-danger mt-2" >
        <p>Password Doesn't match</p>
    </div>
        <button (click)="signup()" type="submit" class="btn btn-warning mt-4">Signup</button>
    
    </form>
    
        </div>
        <div class="col-6">
            <img  id="image" 
             src="https://i.postimg.cc/156mzSKX/bank2.png">
            </div>
    <div  >
    </div>
    </div>